<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ymkj.bxld.dao.order.impl.InsurPaymentInfoDaoImpl">
    <resultMap id="BaseResultMap" type="com.ymkj.bxld.domain.order.InsurPaymentInfoVO">
        <result column="order_code" jdbcType="VARCHAR" property="orderCode"/>
        <result column="pay_card_name" jdbcType="VARCHAR" property="payCardName"/>
        <result column="card_number" jdbcType="VARCHAR" property="cardNumber"/>
        <result column="payment_id" jdbcType="VARCHAR" property="paymentId"/>
    </resultMap>
    
    
    <select id="findPaymentInfo" parameterType="String" resultMap="BaseResultMap" >
    	select 
    	r.order_code,
    	ic.pay_card_name,
    	ic.card_number,
    	group_concat(ioa.attachment_id) as payment_id
    	from insur_order r
    	left join insur_company_info ic on ic.company_code = r.company_code
    	left join insur_order_attachment ioa on ioa.order_code = r.order_code and ioa.status = '0' and ioa.bussiness_type = 'ZF'
    	where r.order_code = #{orderCode} 
    
    </select>
    
    
   </mapper>