<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.ymkj.bxld.dao.user.impl.InsurUserInfoDaoImpl">
	
	<resultMap id="BaseResultMap" type="com.ymkj.bxld.domain.user.InsurUserInfo">
		<id column="id" jdbcType="INTEGER" property="id" />
		<result column="login_account" jdbcType="VARCHAR" property="loginAccount" />
		<result column="login_pwd" jdbcType="VARCHAR" property="loginPwd" />
		<result column="user_name" jdbcType="VARCHAR" property="userName" />
		<result column="id_card" jdbcType="VARCHAR" property="idCard" />
		<result column="invite_code" jdbcType="VARCHAR" property="inviteCode" />
		<result column="area" jdbcType="VARCHAR" property="area" />
		<result column="sex" jdbcType="CHAR" property="sex" />
		<result column="email" jdbcType="VARCHAR" property="email" />
		<result column="phone_no" jdbcType="VARCHAR" property="phoneNo" />
		<result column="create_time" jdbcType="VARCHAR" property="createTime" />
		<result column="last_modifyer" jdbcType="VARCHAR" property="lastModifyer" />
		<result column="user_type" jdbcType="VARCHAR" property="userType" />
		<result column="open_id" jdbcType="VARCHAR" property="openId" />
		<result column="nick_name" jdbcType="VARCHAR" property="nickName" />
		<result column="head_img_url" jdbcType="VARCHAR" property="headImgUrl" />
		<result column="status" jdbcType="CHAR" property="status" />
		<result column="remark" jdbcType="VARCHAR" property="remark" />
		<result column="authentication_state" jdbcType="CHAR"
			property="authenticationState" />
	</resultMap>
	
	<!-- 查看微信公众号关注用户是否认证过 -->
	<select id="findUserByOpenId" parameterType="String" resultMap="BaseResultMap">
		select * from insur_user_info where open_id = #{openId} and status = '0' and authentication_state = '1'
	</select>
	<!-- 用户管理分页查询 -->
	<select id="listPage" parameterType="Map" resultMap="BaseResultMap">
		select t.* from insur_user_info t
		where 1=1
		<if test="userName!=null and userName!=''">
			and t.user_name LIKE concat('%',#{userName}, '%')
		</if>
		<if test="nickName!=null and nickName!=''">
			and t.nick_name LIKE concat('%',#{nickName}, '%')
		</if>
		<if test="inviteCode!=null and inviteCode!=''">
			and t.invite_code = #{inviteCode}
		</if>
		order by t.id asc
	</select>

	<!-- 用户管理分页查询总记录数 -->
	<select id="countByPageParam" parameterType="Map" resultType="Integer">
		select count(*) from (select t.* from insur_user_info t
		where 1=1
		<if test="userName!=null and userName!=''">
			and t.user_name LIKE concat('%',#{userName}, '%')
		</if>
		<if test="nickName!=null and nickName!=''">
			and t.nick_name LIKE concat('%',#{nickName}, '%')
		</if>
		<if test="inviteCode!=null and inviteCode!=''">
			and t.invite_code = #{inviteCode}
		</if>
		)lt
	</select>
	<!-- 批量认证 -->
	<update id="authenticationBatch" parameterType="Map">
		<if test="idList != null and idList!=''">
			update insur_user_info set ${colum} = #{destinData},last_modifyer =
			sysdate() where id in ${idList} and authentication_state = '0'
		</if>
	</update>
	
	<!-- 查询需要批量认证的用户 -->
	<select id="getAuthenticationBatchList" parameterType="String" resultMap="BaseResultMap">
		select t.* from insur_user_info t
		where id in ${idList} and authentication_state = '0'
	</select>

	<!-- 认证用户分页查询 -->
	<select id="getSalesmanList" parameterType="Map" resultMap="BaseResultMap">
		select t.* from insur_user_info t
		left join insur_user_role iur on iur.login_account = t.login_account and iur.role_code != 'M'
		<!-- left join insur_role ir on ir.role_code = iur.role_code -->
		where 1=1
		<if test="userName!=null and userName!=''">
			and t.user_name LIKE concat('%',#{userName}, '%')
		</if>
		<if test="nickName!=null and nickName!=''">
			and t.nick_name LIKE concat('%',#{nickName}, '%')
		</if>
		<if test="inviteCode!=null and inviteCode!=''">
			and t.invite_code = #{inviteCode}
		</if>
		<if test="authenticationState!=null and authenticationState!=''">
			and t.authentication_state = #{authenticationState}
		</if>
		order by t.id asc 
	</select>

	<!-- 认证用户分页查询总记录数 -->
	<select id="getSalesmanListCount" parameterType="Map"
		resultType="Integer">
		select count(*) from (select t.* from insur_user_info t
		left join insur_user_role iur on iur.login_account = t.login_account and iur.role_code != 'M'
		<!-- left join insur_role ir on ir.role_code = iur.role_code -->
		where 1=1
		<if test="userName!=null and userName!=''">
			and t.user_name LIKE concat('%',#{userName}, '%')
		</if>
		<if test="nickName!=null and nickName!=''">
			and t.nick_name LIKE concat('%',#{nickName}, '%')
		</if>
		<if test="inviteCode!=null and inviteCode!=''">
			and t.invite_code = #{inviteCode}
		</if>
		<if test="authenticationState!=null and authenticationState!=''">
			and t.authentication_state = #{authenticationState}
		</if>
		)lt
	</select>

	<!-- 通过id查询用户 -->
	<select id="getById" parameterType="Long" resultMap="BaseResultMap">
		select t.*
		from insur_user_info t where t.id = #{id}
	</select>
	
	<!-- 通过登录账号查询用户 -->
	<select id="getUserListByLoginAccount" parameterType="String"
		resultMap="BaseResultMap">
		select t.* from insur_user_info t where t.login_account =
		#{loginAccount}
	</select>

	<!-- 用户信息插入 -->
	<insert id="insert" parameterType="com.ymkj.bxld.domain.user.InsurUserInfo">
		INSERT INTO insur_user_info
		(login_account, login_pwd, user_name, id_card, invite_code, area, sex, email,
		phone_no, create_time, last_modifyer, user_type, open_id, nick_name,
		head_img_url, status, remark,authentication_state)
		VALUES
		(#{loginAccount}, #{loginPwd}, #{userName}, #{idCard}, #{inviteCode}, #{area}, #{sex},
		#{email}, #{phoneNo}, #{createTime}, #{lastModifyer}, #{userType},
		#{openId}, #{nickName}, #{headImgUrl}, #{status},
		#{remark},#{authenticationState});

	</insert>

	<!-- 用户信息更新 -->
	<update id="update" parameterType="com.ymkj.bxld.domain.user.InsurUserInfo">
		update insur_user_info t set
		<if test="loginAccount!=null and loginAccount!=''">
			t.login_account = #{loginAccount},
		</if>
		<if test="loginPwd!=null and loginPwd!=''">
			t.login_pwd = #{loginPwd},
		</if>
		<if test="userName!=null and userName!=''">
			t.user_name = #{userName},
		</if>
		<if test="idCard!=null and idCard!=''">
			t.id_card = #{idCard},
		</if>
		<if test="inviteCode!=null and inviteCode!=''">
			t.invite_code = #{inviteCode},
		</if>
		<if test="area!=null and area!=''">
			t.area = #{area},
		</if>
		<if test="sex!=null and sex!=''">
			t.sex = #{sex},
		</if>
		<if test="email!=null and email!=''">
			t.email = #{email},
		</if>
		<if test="phoneNo!=null and phoneNo!=''">
			t.phone_no = #{phoneNo},
		</if>
		<if test="userType!=null and userType!=''">
			t.user_type = #{userType},
		</if>
		<if test="openId!=null and openId!=''">
			t.open_id = #{openId},
		</if>
		<if test="nickName!=null and nickName!=''">
			t.nick_name = #{nickName},
		</if>
		<if test="headImgUrl!=null and headImgUrl!=''">
			t.head_img_url = #{headImgUrl},
		</if>
		<if test="status!=null and status!=''">
			t.status = #{status},
		</if>
		<if test="remark!=null and remark!=''">
			t.remark = #{remark},
		</if>
		<if test="authenticationState!=null and authenticationState!=''">
			t.authentication_state = #{authenticationState},
		</if>
		t.last_modifyer = sysdate()
		where t.id = #{id}
	</update>

</mapper>

